{{> imgButton info=info isAlbum=true}}
<div class="card-body text-middle d-flex flex-column justify-content-between">
  <p class="card-title"><strong>{{info.name}}</strong></p>
  <p class="pb-0 m-0 fw-light">{{info.release_date}}</p>
</div>