<footer style="background-color: black; color:white;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>BeatBreeze</h1>
        <h6><a href="https://www.ironhack.com/es/es" class="footer-link">Módulo 2 IronHack</a></h6>
        <h6>Autores:</h6>  
        <h6><a href="https://github.com/BeatBreeze"class="footer-link"> Naiim - Madrid</a></h6>
        <h6><a href="https://github.com/BeatBreeze"class="footer-link">Alberto - La Coruña - Ponferrada, Spain</a></h6>
      </div>
      <div class="col">
        <h1>Browse</h1>
        <h6><a href="/login" class="footer-link">Login</a></h6>
        <h6><a href="/register"class="footer-link">Register</a></h6>
        <h6><a href="/playlist"class="footer-link">Playlists</a></h6>
      </div>

      <div class="col">
        <h1>RRSS</h1>
        <h3><a href="https://www.facebook.com/?locale=es_ES"class="footer-link"><i class="fa fa-facebook" aria-hidden="true"></a></i></h3>
        <h3><a href="https://twitter.com/?lang=es"class="footer-link"><i class="fa fa-twitter" aria-hidden="true"></a></i></h3>
        <h3><a href="https://www.instagram.com/"class="footer-link"><i class="fa fa-instagram"aria-hidden="true"></a></i></h3>
      </div>

      <div class="col">
        <h1>About</h1>
        <h6>Contact</h6>
        <h6>Report a Vulnerability</h6>

      </div>
      <div class="col">
        <h1>Resources</h1>
        <h6>Terms of service</h6>
        <h6>Privacy Policy</h6>
      </div>
    </div>
  </div>
</footer>