{{> imgButton info=info isAlbum=true}}
<div class="card-body text-middle d-flex flex-column justify-content-between">
  <img src="https://www.adorama.com/alc/wp-content/uploads/2020/12/man-playing-acoustic-guitar-1280x720.jpg">
  <p class="card-title"><strong>{{info.name}}</strong></p>
  <p class="pb-0 m-0 fw-light">{{info.release_date}}</p>
</div>