<nav class="navbar position-static" style="background-color: purple;">
  <div class="container-fluid">
    {{! - LEFT }}
    <a class="navbar-brand" href="/">
      <img
        src="https://media.istockphoto.com/id/1286099898/es/vector/color-geom%C3%A9trico-ecualizador-circular-de-ne%C3%B3n-ondas-de-sonido-de-audio-redondo-eq.jpg?s=2048x2048&w=is&k=20&c=Q2R16IuQu8GJ1-DWv4_fpA9WhLihOH3jS7Dtwyj404I="
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      <strong style="color: white">BEATBREEZE</strong>
    </a>

    {{! <nav
      style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
      aria-label="breadcrumb"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><strong style="color: white">HOME</strong></a></li>
        <li class="breadcrumb-item active"> <a href="/explore"><strong style="color: white">GENRES</strong></a></li>
        <li class="breadcrumb-item active"> <a href="/playlist"><strong style="color: white">PLAYLISTS</strong></a></li>
        <li class="breadcrumb-item active"> <a href="/"><strong style="color: white">ARTIST</strong></a></li>
        <li class="breadcrumb-item active"> <a href="/"><strong style="color: white">FAVOURITES</strong></a></li>
      </ol>
      
    </nav> }}

    {{! - SEARCH }}
    <form class="d-flex" method="GET" action="/search">
      <input
        class="form-control me-2"
        type="text"
        id="search"
        name="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-light" type="submit">Search</button>
    </form>
    {{! - RIGHT }}
    <ul class="nav justify-content-center nav-item me-md-2">
      {{#if currentUser}}
        <div class="d-flex align-items-center">
          <a href="/profile">
            <img
              src="{{currentUser.avatarURL}}"
              class="rounded-circle imgTop"
              id="rounded-circle-navbar"
              href="/profile"
              alt="User profile"
            />
          </a>
        </div>
        <form method="POST" action="/logout" class="m-0">
          <button type="submit" class="btn btn-danger mx-2">Log out</button>
        </form>
      {{else}}
        <div class="d-flex nav-item me-md-2">
          <a class="btn btn-light" aria-current="page" href="/login"><strong
              style="color: purple"
            >Login</strong></a>
        </div>
        <div class="nav-item me-md-2">
          <a class="btn btn-light" href="/register"><strong
              style="color: purple"
            >Register</strong></a>
        </div>
      {{/if}}
      <div class="nav-item me-md-2">
        <a class="btn btn-light" href="/explore"><strong
            style="color: purple"
          >Explore</strong></a>
      </div>
    </ul>
  </div>

</nav>
<ul class="nav flex-column navVertical">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">GENRES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">PLAYLISTS</a>
  </li>
</ul>