<div class="card-group">
  <div class="card">
    <img
      src="https://i.ytimg.com/vi/El90OBILFBw/maxresdefault.jpg"
      class="card-img-top"
      alt="Nora en Pure"
    />
    <div class="card-body">
      <h5 class="card-title"><strong style="color: purple">Nora en Pure</strong></h5>
      <p class="card-text">Es una disc jockey y productora sudafricana radicada
        en Zúrich, Suiza.​ Está considerada como la diva actual del deep house.
        Además forma parte del proyecto musical Helvetic Nerds junto a EDX y
        Chris Reece. ​</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3
          mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://a-static.besthdwallpaper.com/hardwell-dutch-dj-wallpaper-1280x720-2653_45.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title"><strong
          style="color: purple"
        >Hardwell</strong></h5>
      <p class="card-text">Es un DJ, productor discográfico y remixer
        neerlandés, dueño de Revealed Recordings. En 2013 y 2014 fue considerado
        el DJ #1 del mundo según la encuesta anual que realiza la revista DJmag.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3
          mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://www.mastersofhardcore.com/wp-content/uploads/2023/05/Angerfist-yt.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title"><strong
          style="color: purple"
        >Angerfist</strong></h5>
      <p class="card-text">Es un DJ y productor musical neerlandés, orientado al
        género techno hardcore. Ocupa el puesto número #63 en la lista de los
        100 mejores DJ's del mundo de la revista DJ Mag.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3
          mins ago</small></p>
    </div>
  </div>
</div>

<figure
  class="figure"
  style="width: 300px;height: 200px;margin-top: 20px;margin-right: 20px;"
>
  <img
    src="https://m.media-amazon.com/images/I/81NUchJX2GL.png"
    class="figure-img img-fluid rounded"
    alt="..."
  />
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>

<figure class="figure" style="width: 300px;height: 200px;margin-right: 21px;">
  <img
    src="https://i.ytimg.com/vi/als7xoyNyoE/maxresdefault.jpg"
    class="figure-img img-fluid rounded"
    alt="..."
  />
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>

<figure class="figure" style="width: 300px;height: 200px;margin-right: 21px;">
  <img
    src="https://wallpaperdj.com/download/techno_on_technics-1280x720.jpg"
    class="figure-img img-fluid rounded"
    alt="..."
  />
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>

<figure class="figure" style="width: 300px;height: 200px;margin-right: 20px;">
  <img
    src="https://i.ytimg.com/vi/9sZ5ELJ4i1s/maxresdefault.jpg"
    class="figure-img img-fluid rounded"
    alt="..."
  />
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://wallpaperdj.com/download/techno_on_technics-1280x720.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.ytimg.com/vi/9sZ5ELJ4i1s/maxresdefault.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>