<div class="row justify-content-center">
  <div class="col-12 col-md-3">
    <h1 class="mb-3">New Playlist</h1>
    <div class="card">
      <div class="card-body">
        <form action="/playlist" method="post"> 
          {{!--NAME PLAYLIST--}} 
          <div class="input-group mb-1">
             <span class="input-group-text"><i class = "fa fa-fw fa-user"></i></span>
             <input type="text" name="name" class="form-control" placeholder="Name" aria-label="Name"/>
          </div>
          <div class = "d-grid" "gap-2 mt-3">
           <button  type = "submit" class = "btn btn-primary" >Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
