<div class="m-5">
  <div class="container text-center text-light">
    {{!-- - ALBUMS --}}
    <div class="px-2 border border-0">
      <img src="{{genreImage}}" alt="{{nameGenre}}">
      <h3>{{nameGenre}}</h3>
      <div>
        {{#each tracks as |track|}}
          {{> trackPlayer info=track}}
        {{/each}}
      </div>
    </div>
  </div>
</div>