/*Imagen de fondo*/
body {
  background-image: url("/img/fondo-Beez.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}
.imgTop {
  width: 36px;
  /* margin-right: 6px; */
}
.imgList {
  width: 170px;
  height: 170px;
  border-radius: 8px;
}
.imgArtist {
  height: 300px;
  width: auto;
  border-radius: 8px;
}
.imgTrack {
  height: 60px;
}

.imgListPlaylist {
  height: 170px;
  border-radius: 8px;
}

.imgListPlaylistUsers {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.iconDelete {
  top: 17px;
  right: -18px;
  padding: 7px 9px 6px 10px;
}

.TracksGrid {
  display: grid;
}

.carouselButton {
  width: 5%;
}

.carouselStyle {
  width: 300px;
  height: 170px;
}

.barVertical {
  background-color: transparent;
}
.navVertical {
  flex: content;
  position: absolute;
  background-color: transparent;
}

.navVertical a {
  border-radius: 8px;
  color: white;
  padding: 1rem;
}

.navVertical a:hover {
  border-radius: 8px;
  background-color: rgba(128, 0, 128, 0.705);
  color: white;
}

.addPlaylist:hover {
  background-color: #800080;
  color: white;
  padding: 0px 4px;
  border-radius: 4px;
}
.addPlaylist {
  background-color: transparent;
  color: white;
  padding: 0px 4px;
  border-radius: 4px;
}

/* Estilo de card Playlist Individual*/
.card.border-0 {
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(225, 107, 107, 0.848);
  transition: box-shadow 0.3s ease-in-out;
}

.card.border-0:hover {
  box-shadow: 0px 4px 8px white;
}
/* Estilo tarjeta de User Profile */
.card {
  background-color: transparent;
  color: white;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 8px;
}

.btn-purple {
  background-color: white; /* Fondo blanco*/
  color: purple; /*Texto morado*/
  border: none; /*Elimina el borde*/
  font-weight: bold; /* Texto en negrita*/
}

.btn-purple:hover {
  background-color: purple;
  color: white;
  font-weight: bold;
}

.btn-purple-follow {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: bold;
}

.btn-purple-follow:hover {
  background-color: white;
  color: purple;
  font-weight: bold;
}
