body {
  background-image: url("/img/fondo-Beez.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.imgTop {
  width: 36px;
  /* margin-right: 6px; */
}
.imgList {
  height: 170px;
}
.carouselButton {
  width: 5%;
}

.carouselStyle {
  width: 300px;
  height: 170px;
}

.barVertical {
  background-color: transparent;
}
.navVertical {
  flex: content;
  position: absolute;
  background-color: transparent;
}

.navVertical a {
  color: white;
  padding: 1rem;
}

.closeVertical{
  color: white;
}

.navVertical a:hover {
  background-color: purple;
  color: white;
}

.addPlaylist:hover {
  background-color: purple;
  color: white;
  padding: 0px 4px;
  border-radius: 4px;
}